<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86" />
	<link rel="stylesheet" href="/../public/main.css" />
	<title>Handmade Pizza</title>
</head>

<body>
	<div class="pizza-container" >		
			<img id="pizza-bg2" alt="">	
	{{#each result}}
	<div class="pizzas">
		<div  class="pizza-table">
		<h2>Order ID: {{id}}</h2>
		<div>Description: {{description}}</div>
		<div>Customer: {{customerName}}</div>
		<div>Address: {{customerAddress}}</div>
		<div>Quantity: {{quantity}}</div>
		<div>Status: {{status}}</div>
		<button><a href="/{{id}}/delete">Delete</a></button>
		<button><a href="/{{id}}/details">Update</a></button>
		</div>
	{{/each}}
	</div>
</div>
</body>

</html>