<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86" />
	<link rel="stylesheet" href="/../public/main.css" />
	<title>Handmade Pizza</title>
</head>

<body>
	<div class="pizza-container">
		<img id="pizza-bg2" alt="">
		<div class="pizzas">

				<img class="img-pizza" src="{{img}}" alt="{{type}}">

				{{!-- <div class="form"> --}}
			

					<form class="pizza-order-form" action="/{{id}}/order" method="post">
						<h2>{{type}}</h2>

				<label>Description: {{description}}</label>
						<label for="name">Customer Name</label>
						<input type="text" id="name" name="name" placeholder="Customere name..">

						{{!-- <label for="Topping">Topping</label>
						<select id="Topping" name="Topping">
							<option value="Topping">Cheese</option>
							<option value="Topping">Banana</option>
							<option value="Topping">Chili</option>
						</select> --}}

						<label for="subject">Address</label>
						<textarea id="subject" name="address" placeholder="Write something.."
							style="height:200px"></textarea>

						<label for="name">Quantity</label>
						<input type="text" id="name" name="quantity" placeholder="Quantity">
						{{!-- <input type="submit" value="Submit"> --}}
						<button type="submit" value="Submit">Submit</button>


					</form>
				{{!-- </div> --}}
			</div>
		</div>

</body>

</html>