<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86" />
	<link rel="stylesheet" href="/../public/main.css" />
	<title>Handmade Pizza</title>
</head>

<body>
	<div class="pizza-container" >		
			<img id="pizza-bg2" alt="">	
	<div class="pizzas">
		<img class="img-pizza" src="{{img}}" alt="{{type}}">

		<div  class="pizza-details">
		<h2>{{type}}</h2>
		<div>Customer: {{description}}</div>
		<div>Customer: {{customer_name}}</div>
		<div>Address: {{customer_address}}</div>
		<div>Address: {{quantity}}</div>
		<button>Submit</button>
		</div>

	</div>
</div>

</body>

</html>